// ======================================================
// Layout :: Content
// ======================================================

//style block news





.partner{

  padding: 42px 0 48px;
  @include tablet{
    padding: 35px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;
  }
}
.swiper-partner{
  .swiper-wrapper{
    align-items: center;
  }
}
.box-partner{
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    display: flex;
    width: 70%;
    text-align: center;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}

//end partner


//style calendar

.calendar {
  width: 100%;
  background: #fff;
  border-radius: 4px;
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #f26a63;
  margin-bottom: 10px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid $c-bl;
  border-bottom: 2px solid $c-bl;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 36px;
  color: #FA9D17;
  margin-bottom: 5px;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 20px;
  font-size: 16px;
  padding: 8px;
}
.ui-state-default:hover {
  background: #255888;
  color: #fff;
  border-radius: 5px;
}
.ui-state-highlight {
  color: #255888;
  font-weight: bold;
}
.ui-state-active {
  background: #255888;
  color: #fff;
  border-radius: 5px;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid #808080;
}
.ui-datepicker-title{
  color: $c-bl;
}
.ui-datepicker-title .ui-datepicker-month{
  color: $c-bl;
  font-weight: 500;
}

//style tabs

.tabs-article{
  border-bottom: none;
  .nav-link{
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    line-height: 19px;
    padding: 5px;
    font-weight: 500;
    color: #999;
    &.active{
      border-bottom: 2px solid $c-bl;
      color: $c-bl;
      &:hover{
        border-bottom: 2px solid $c-bl;
      }

    }
    &:hover{
      border: none;
      color: $c-bl;
    }
  }
}