// ======================================================
// Layout :: Navigation
// ======================================================

.container-menu{
  max-width: 796px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

//.menuchild{
//  padding: 20px 0 16px;
//  background: #fff;
//  .item-menuchild{
//    h3{
//      margin-bottom: 30px;
//      font-size: 14px;
//      line-height: 18px;
//      color: #303030;
//      font-weight: 700;
//    }
//    ul{
//      li{
//        margin-bottom: 10px;
//        a{
//          font-size: 14px;
//          line-height: 18px;
//          color: #999999;
//          transition: all 0.2s;
//          &:hover{
//            color: $c-bl;
//            transition: all 0.2s;
//            letter-spacing: 0.05em;
//          }
//        }
//      }
//    }
//  }
//}